{{> header}}
<div class="container grid-sm">
    <form method="POST" action="/register">
        <div class="form-group">
            <label class="form-label" for="username">{{i18n.username}}</label>
            <input class="form-input" min="1" max="64" id="username" type="text" placeholder="Benutzername" name="username">
        </div>
        <div class="form-group">
            <label class="form-label" for="password">{{i18n.password}}</label>
            <input class="form-input" min="1" id="password" type="password" placeholder="Passwort" name="password">
        </div>
        <div class="form-group">
            <label class="form-label" for="password-confirmation">{{i18n.retypePassword}}</label>
            <input class="form-input" min="1" id="password-confirmation" type="password" placeholder="{{i18n.retypePassword}}" name="passwordConfirmation">
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn-block" value="{{i18n.register}}" type="submit">
            <a href="/login" class="btn btn-link btn-block">{{i18n.redirectToLogin}}</a>
        </div>
    </form>
</div>
